$font-path: '..';

/* rubik-gemstones-regular - cyrillic_cyrillic-ext_hebrew_latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rubik Gemstones';
  font-style: normal;
  font-weight: 400;
  src: url('#{$font-path}/fonts/rubik-gemstones-v1-cyrillic_cyrillic-ext_hebrew_latin_latin-ext-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* sansation-300 - cyrillic_greek_latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Sansation';
  font-style: normal;
  font-weight: 300;
  src: url('#{$font-path}/fonts/sansation-v1-cyrillic_greek_latin_latin-ext-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* sansation-300italic - cyrillic_greek_latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Sansation';
  font-style: italic;
  font-weight: 300;
  src: url('#{$font-path}/fonts/sansation-v1-cyrillic_greek_latin_latin-ext-300italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* sansation-regular - cyrillic_greek_latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Sansation';
  font-style: normal;
  font-weight: 400;
  src: url('#{$font-path}/fonts/sansation-v1-cyrillic_greek_latin_latin-ext-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* sansation-italic - cyrillic_greek_latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Sansation';
  font-style: italic;
  font-weight: 400;
  src: url('#{$font-path}/fonts/sansation-v1-cyrillic_greek_latin_latin-ext-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* sansation-700 - cyrillic_greek_latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Sansation';
  font-style: normal;
  font-weight: 700;
  src: url('#{$font-path}/fonts/sansation-v1-cyrillic_greek_latin_latin-ext-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* sansation-700italic - cyrillic_greek_latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Sansation';
  font-style: italic;
  font-weight: 700;
  src: url('#{$font-path}/fonts/sansation-v1-cyrillic_greek_latin_latin-ext-700italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}