$color-text: #131614;
$color-main: #68BBE3;
$color-second: #B1B1B1;
$color-accent: #FB4570;
$color-light: #EFEBE0;

$font-family-gemstones: 'Rubik Gemstones', sans-serif;
$font-family-sansation: 'Sansation', sans-serif;