@use '../' as lib;

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lib.$color-light;
    padding: 50px;
}

.container {
    width: 100%;
}

h1 {
    color: lib.$color-text;
    font-family: lib.$font-family-gemstones;
    font-size: 3rem;        // 48px
    line-height: 1.2;
    font-weight: 700;
}

h2 {
    color: lib.$color-text;
    font-family: lib.$font-family-gemstones;
    font-size: 2.25rem;     // 36px
    line-height: 1.25;
    font-weight: 700;
}

h3 {
    color: lib.$color-text;
    font-family: lib.$font-family-gemstones;
    font-size: 1.75rem;     // 28px
    line-height: 1.3;
    font-weight: 600;
}

h4 {
    color: lib.$color-text;
    font-family: lib.$font-family-gemstones;
    font-size: 1.375rem;    // 22px
    line-height: 1.35;
    font-weight: 600;
}

h5 {
    color: lib.$color-text;
    font-family: lib.$font-family-gemstones;
    font-size: 1.125rem;    // 18px
    line-height: 1.4;
    font-weight: 500;
}

h6 {
    color: lib.$color-text;
    font-family: lib.$font-family-gemstones;
    font-size: 1rem;        // 16px
    line-height: 1.45;
    font-weight: 500;
}

p, a, td {
    color: lib.$color-text;
    font-family: lib.$font-family-sansation;
    font-size: 1rem;        // 16px
    line-height: 1.6;
    font-weight: 400;
}

a {
    text-decoration: none;

    &:hover {
        cursor: pointer;
    }
}